@import url(./main.scss);
@mixin card {
    margin-top: 20px;
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.8);
    position: inherit;
}

/*Placeholder*/
%flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

$headerBgColor: #6EA4BF;
$mainBgColor: #b7d0ce;
$asideBgColor: #bcc5ba;
$cardBgColor: #f2ae1c;
$cardBgColorHover: lighten(#f2ae1c, 15%);
$footerBgColor: #331E36;
$btnBgColor: #6EA4BF;
$btnBgColorLighter: lighten(#6EA4BF, 10%);

$large-font-size: 1.4em;
$small-font-size: 0.8em;
$medium-font-size: 1.2em;

/*main style*/
.main {
    text-align: center;
    background: #b7d0ce;
    height: auto;
    font-size: $medium-font-size;
    margin-top: 80px;
    min-width: 50vmax;

    img {
        border-radius: 10%;
        box-shadow: 2px 4px 5px hsla(0, 0%, 0%, 0.8);
    }
}

/* main titles*/
h3,
h2 {
    @extend %flex-centered;
    font-size: $medium-font-size;
}

/*main content*/
.mainImage {
    @extend %flex-centered;
    align-items: flex-start;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

#firstImg {
    border-radius: 10px;
}

.imageType1 {
    height: 200px;
    width: 150px;
    float: left;
    margin: 10px 10px;
}

.anecdote {
    padding-top: 10px;
    font-style: italic;
    font-size: $small-font-size;
}

/* Asides*/
.aside1,
.aside2 {
    background: #bcc5ba;
    font-size: $medium-font-size;
    min-width: 50vmax;

}

.aside1 {
    .card {
        @include card;
        font-size: $small-font-size;
        background: $cardBgColor;
        transition: all .5s;

        &:hover {
            transition: all .5s;
            background: $cardBgColorHover;
        }

        .btn-primary {
            background: $btnBgColor;
            border: none;
            color: #000;
            transition: all .5s;

            &:hover {
                transition: all .5s;
                background: $btnBgColorLighter;
            }
        }
    }

    h5 {
        font-weight: bold;
    }
}

.aside2 {
    .celebrities {
        display: flex;
        flex-direction: column;
    }

    .card {
        @include card;
        background: $headerBgColor;
        border: none;
        width: 50%;
        align-self: center;
        
    }
}




/*Responsive with medi@queries*/
@media all and (min-width: 800px) {
    .main {
        flex: 2;
    }

    .aside1 {
        order: 1;
        margin-top: 80px;
    }

    .aside2 {
        order: 2;
        margin-top: 80px;
        .card{
            width: 80%;
            align-self: center; 
        }
    }

    .main {
        order: 2;
    }
}

    

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
        font-size: $medium-font-size;
        min-width: auto;
    }

    h1 {
        font-size: 40px;
    }


}

@media all and (min-width: 1100px) {

    .mainImage {
        align-items: flex-start;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        h1 {
            font-size: $large-font-size;
        }
    }

    .aside2{
        .card{
            width: 50%;
            align-self: center; 
        }
    }

}

@media print {
    img {
        display: none;
    }

    .wrapper {
        font-size: 16px;
    }

    .card {
        display: none;
    }
}

/*# sourceMappingURL=style.css.map */