/*Placeholder*/
.contact, .mainImage, h3,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Initializing page layout with flexbox */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

/*Applying style for all wrapper's children*/
.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
  font-family: sans-serif;
}

/*header  style*/
.header {
  background: #6EA4BF;
  height: 120px;
}

/*bootstrap navbar*/
.navbar {
  position: fixed;
  min-width: 100%;
  margin: 0%;
  background: #6EA4BF;
  border-radius: 0%;
  max-height: 70px;
}

.navbar-collapse {
  background: #6EA4BF;
}

.navbar-toggler {
  border: none;
  padding: 4px 0px 4px 0px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 20px;
}

.navbar-expand-lg {
  padding: 0;
}

.navbar-brand img {
  height: 60px;
}

/*main style*/
.main {
  text-align: center;
  background: #b7d0ce;
  height: auto;
  font-size: 1.2em;
  margin-top: 80px;
  min-width: 50vmax;
}
.main img {
  border-radius: 10%;
  box-shadow: 2px 4px 5px hsla(0deg, 0%, 0%, 0.8);
}

/* main titles*/
h3,
h2 {
  font-size: 1.2em;
}

/*main content*/
.mainImage {
  align-items: flex-start;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#firstImg {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.Jim_Parson {
  height: 200px;
  width: 150px;
  float: left;
  margin: 10px 10px;
}

.anecdote {
  padding-top: 10px;
  font-style: italic;
  font-size: 0.8em;
}

/* Asides*/
.aside1,
.aside2 {
  background: #bcc5ba;
  font-size: 1.2em;
  min-width: 50vmax;
}

.aside1 .card {
  margin-top: 20px;
  box-shadow: 2px 4px 10px hsla(0deg, 0%, 0%, 0.8);
  position: inherit;
  border: none;
  font-size: 0.8em;
  background: #f2ae1c;
  transition: all 0.5s;
}
.aside1 .card:hover {
  transition: all 0.5s;
  background: #f6c864;
}
.aside1 .card .btn-primary {
  background: #6EA4BF;
  border: none;
  color: #000;
  transition: all 0.5s;
}
.aside1 .card .btn-primary:hover {
  transition: all 0.5s;
  background: #91bacf;
}
.aside1 h5 {
  font-weight: bold;
}

.aside2 .celebrities {
  display: flex;
  flex-direction: column;
}
.aside2 .card {
  margin-top: 20px;
  box-shadow: 2px 4px 10px hsla(0deg, 0%, 0%, 0.8);
  position: inherit;
  border: none;
  background: #6EA4BF;
  border: none;
  width: 50%;
  align-self: center;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  background: #331E36;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-width: 50vmax;
  color: antiquewhite;
  font-size: 0.8em;
}

.copyright {
  display: flex;
  align-items: end;
  justify-self: flex-end;
}

.contact {
  flex-direction: column;
}

/*Responsive with medi@queries*/
@media all and (min-width: 800px) {
  .main {
    flex: 2;
  }
  .aside1 {
    order: 1;
    margin-top: 80px;
  }
  .aside2 {
    order: 2;
    margin-top: 80px;
  }
  .aside2 .card {
    width: 80%;
    align-self: center;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 4;
    font-size: 1.2em;
  }
  .navbar-brand {
    display: flex;
    justify-content: start;
    width: 20%;
    padding-top: 0;
  }
}
@media all and (min-width: 600px) {
  .aside {
    flex: 1;
    font-size: 1.2em;
    min-width: auto;
  }
  h1 {
    font-size: 40px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer {
    font-size: 1.2em;
  }
  .main {
    font-size: 1.4em;
  }
  .navbar-brand {
    width: 30%;
  }
  .navbar-collapse {
    justify-content: end;
    font-size: 1.2em;
  }
}
@media all and (min-width: 1100px) {
  .mainImage {
    align-items: flex-start;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .mainImage h1 {
    font-size: 1.4em;
    padding-top: 50px;
  }
  .navbar-nav {
    font-size: 1.2em;
  }
  .footer {
    font-size: 1.4em;
  }
  .follow {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .follow i {
    margin-left: 40px;
    font-size: xx-large;
  }
  .aside2 .card {
    width: 50%;
    align-self: center;
  }
}
@media print {
  img {
    display: none;
  }
  .wrapper {
    font-size: 16px;
  }
  .card {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */