/* Initializing page layout with flexbox */

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

/*Applying style for all wrapper's children*/
.wrapper>* {

    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    font-family: sans-serif;

}

/*header  style*/
.header {
    background: #6EA4BF;
    height: 120px;
    min-width: 300px;
}

/*bootstrap navbar*/
.navbar {
    position: fixed;
    min-width: 100%;
    margin: 0%;
    background: #6EA4BF;
    border-radius: 0%;
}

.navbar-toggler {
    border: none;
    padding: 4px 0px 4px 0px;
}

.navbar-toggler-icon {
    width: 20px;
}

.navbar-brand {
    width: 50%;
    padding-top: 0;
    font-size: large;
}

/*main style*/
.main {
    text-align: center;
    background: #b7d0ce;
    height: auto;
    font-size: 24px;
    margin-top: 80px;

    img {
        border-radius: 10%;
        box-shadow: 2px 4px 5px hsla(0, 0%, 0%, 0.8);
    }
}

/* main titles*/
h3,
h2 {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

/*main content*/
.mainImage {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#firstImg {
    border-radius: 10px;
}

.imageType1 {
    height: 200px;
    width: 150px;
    float: left;
    margin: 10px 10px;
}

.anecdote {
    padding-top: 10px;
    font-style: italic;
    font-size: 20px;
}

/* Asides*/
.aside1,
.aside2 {
    background: #bcc5ba;
    font-size: 24px;
}
.aside1 {
    .card{
        position: inherit;
        font-size: 18px;
        margin-top: 20px;
        box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.8);
        background: #a6cecb;
        .btn-primary{
            background: #6EA4BF;
            border: #6EA4BF;
            color: #000;
        } 
    }
    h5{
        font-weight:bold;
    }
}

.aside2 {
    .card {
        margin: 20px;
        box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.8);
        position: inherit;
        background:#a6cecb;
    }
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    background: #331E36;
    max-height: max-content;
    color: antiquewhite;
    font-size: .8em;
}

.copyright {
    display: flex;
    align-items: end;
    font-size: .8em;
    justify-self: flex-end;

}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*Responsive with medi@queries*/
@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
        margin-top: 80px;
    }

    .aside2 {
        order: 2;
        margin-top: 80px;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
        font-size: 1em;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
        font-size: 24px;

    }

    .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }

    h1 {
        font-size: 40px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
    }

    .footer {
        font-size: 1em;
    }
}

/*# sourceMappingURL=style.css.map */